/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
/* body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #f7f5ea -29.09%,
    #fbd9e6 51.77%,
    #a97ebb 129.35%
  );
  font-family: sans-serif;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  background: linear-gradient(
    200.96deg,
    #caefd7 -19.09%,
    #f5bfd7 41.77%,
    #abc9e9 79.35%
  );
}

.repository-header {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #ffe2ad;
  background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(
    -90deg,
    hsla(0, 0%, 100%, 1) 37%,
    hsla(39, 100%, 80%, 1) 120%
  );
  background: -moz-linear-gradient(
    -90deg,
    hsla(0, 0%, 100%, 1) 37%,
    hsla(39, 100%, 80%, 1) 120%
  );
  background: -webkit-linear-gradient(
    -90deg,
    hsla(0, 0%, 100%, 1) 37%,
    hsla(39, 100%, 80%, 1) 120%
  );
}
