* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  margin: 0;
  background: linear-gradient(
    200.96deg,
    #caefd7 -19.09%,
    #f5bfd7 41.77%,
    #abc9e9 79.35%
  );
}

.navbars {
  padding: 15px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  position: static;
}

.repo-header {
  border-bottom: 2px solid #faf4ff;
  justify-content: space-between;
  align-items: center;
}

.repo-footer {
  border-top: 2px solid #faf4ff;
  justify-content: space-between;
  align-items: center;
}

.nav-background {
  background: hsla(0, 0%, 100%, 1);
  background: linear-gradient(-90deg, hsla(0, 0%, 100%, 1) 37%, #faf4ff 120%);
  background: -moz-linear-gradient(
    -90deg,
    hsla(0, 0%, 100%, 1) 37%,
    #faf4ff 120%
  );
  background: -webkit-linear-gradient(
    -90deg,
    hsla(0, 0%, 100%, 1) 37%,
    #faf4ff 120%
  );
}

.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.graphContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.graphContainer text {
  display: none;
}

.footerContainer {
  height: '70px';
  position: static;
}

.tooltip {
  height: fit-content;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 37%, #faf4ff 120%);
  transition: opacity 0.3s ease;
  color: black;
  z-index: 1000;
}

.tooltip-title {
  font-weight: 600;
}

.branchLabel {
  position: absolute;
  z-index: 100;
  opacity: 0.8;
}

.branchLabel:hover {
  background-color: #f1e8fb;
  border-radius: 8px;
  opacity: 1;
  transition: all 0.3s ease;
}
